*{
    margin: 0;
    padding: 0;

}

p{
    color: rgb(0, 55, 255);
}

p{
    color: rgba(255, 98, 0, 0.895);
}
.green-color{
    color: rgb(23, 108, 15);
}

p.text-color{
    color: rgb(0, 255, 128);
}
h1.text-color{
background-color: rgb(247, 238, 245);    
}
.lokal-surikat{
    width: 100%;

}
body{
    background-color: blanchedalmond;
    background-position-x: center;
    background-image: image();
    background-repeat: repeat;
    background-size: contain;

}


